
        <tr>
          <td>
            <%= checkbox @d, :tax, class: "checkbox" %>
            <%= error_tag @d, :tax %>
          </td>
          <td>
            <%= number_input @d, :code, class: "form-control" %>
            <%= error_tag @d, :code %>
          </td>
          <td>
            <%= text_input @d, :desc, class: "form-control" %>
            <%= error_tag @d, :desc %>
          </td>
          <td>
            <%= number_input @d, :up, step: "any", class: "form-control" %>
            <%= error_tag @d, :up %>
          </td>
          <td>
            <%= checkbox @d, :delete, class: "checkbox" %>
            <%= error_tag @d, :delete %>
          </td>
        </tr>
