<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :provider, class: "control-label" %>
    <%= text_input f, :provider, class: "form-control" %>
    <%= error_tag f, :provider %>
  </div>

  <button drab="click:add_item_invoice_list">Add</button>

    <table>
      <thead>
        <th>Tax</th>
        <th>Code</th>
        <th>Description</th>
        <th>Unit Price</th>
        <th>Delete?</th>
      </thead>
      <tbody id="detail">
      <%= inputs_for f, :details, fn d -> %>
        <%= render "_detail.html", d: d %>
      <% end %>
      </tbody>
    </table>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
