<h2>Listing Invoices</h2>

<table class="table">
  <thead>
    <tr>
      <th>Provider</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for invoice <- @invoices do %>
    <tr>
      <td><%= invoice.provider %></td>

      <td class="text-right">
        <span><%= link "Show", to: invoice_path(@conn, :show, invoice), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Edit", to: invoice_path(@conn, :edit, invoice), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Delete", to: invoice_path(@conn, :delete, invoice), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Invoice", to: invoice_path(@conn, :new) %></span>
