<h2>Show Invoice</h2>

<ul>

  <li>
    <strong>Provider:</strong>
    <%= @invoice.provider %>
  </li>

</ul>

<span><%= link "Edit", to: invoice_path(@conn, :edit, @invoice) %></span>
<span><%= link "Back", to: invoice_path(@conn, :index) %></span>
