<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :tax, class: "control-label" %>
    <%= checkbox f, :tax, class: "checkbox" %>
    <%= error_tag f, :tax %>
  </div>

  <div class="form-group">
    <%= label f, :code, class: "control-label" %>
    <%= number_input f, :code, class: "form-control" %>
    <%= error_tag f, :code %>
  </div>

  <div class="form-group">
    <%= label f, :desc, class: "control-label" %>
    <%= text_input f, :desc, class: "form-control" %>
    <%= error_tag f, :desc %>
  </div>

  <div class="form-group">
    <%= label f, :up, class: "control-label" %>
    <%= number_input f, :up, step: "any", class: "form-control" %>
    <%= error_tag f, :up %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
