<h2>Listing Details</h2>

<table class="table">
  <thead>
    <tr>
      <th>Tax</th>
      <th>Code</th>
      <th>Desc</th>
      <th>Up</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for detail <- @details do %>
    <tr>
      <td><%= detail.tax %></td>
      <td><%= detail.code %></td>
      <td><%= detail.desc %></td>
      <td><%= detail.up %></td>

      <td class="text-right">
        <span><%= link "Show", to: detail_path(@conn, :show, detail), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Edit", to: detail_path(@conn, :edit, detail), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Delete", to: detail_path(@conn, :delete, detail), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Detail", to: detail_path(@conn, :new) %></span>
