<h2>Show Detail</h2>

<ul>

  <li>
    <strong>Tax:</strong>
    <%= @detail.tax %>
  </li>

  <li>
    <strong>Code:</strong>
    <%= @detail.code %>
  </li>

  <li>
    <strong>Desc:</strong>
    <%= @detail.desc %>
  </li>

  <li>
    <strong>Up:</strong>
    <%= @detail.up %>
  </li>

</ul>

<span><%= link "Edit", to: detail_path(@conn, :edit, @detail) %></span>
<span><%= link "Back", to: detail_path(@conn, :index) %></span>
